In [28]:
import pandas as pd
import os
import re
import json

directory = os.fsencode('../data')
series = []
for file in os.scandir(directory):
    filename = os.fsdecode(file)
    if filename.endswith('.json'):
        try:
            with open(filename) as f:
                index = re.search('(?<=-).+(?= )', f.name).group()  # extract date
                data = json.load(f)
                # backwards compatiability for data sets that didn't have residuals calculated
                if 'residuals' in data:
                    json_series = pd.Series(data['residuals'])
                    series.append(json_series.rename(index))
        except ValueError:
            continue

df = pd.DataFrame(series).sort_index()
df.index = pd.to_datetime(df.index)

df_monthly = df.resample('ME').std() # convert to IVOL
df_monthly.apply(lambda x: x[x >= x.quantile(.75)], axis=1) # upper quartile IVOL

,AA,AACG,AADI,AAL,AAOI,AAON,AAP,AAT,AB,ABAT,...,ZTEK,ZTO,ZUMZ,ZUO,ZURA,ZVIA,ZVRA,ZVSA,ZYME,ZYXI
2024-05-31,NaN,NaN,NaN,0.000268,0.000234,0.000275,NaN,NaN,NaN,NaN,...,0.000390,NaN,NaN,NaN,NaN,NaN,0.000259,NaN,NaN,NaN
2024-06-30,0.000190,NaN,0.000198,NaN,NaN,0.000304,NaN,NaN,NaN,NaN,...,0.000200,NaN,0.000220,NaN,0.000229,NaN,NaN,NaN,0.000303,NaN
2024-07-31,0.000533,NaN,NaN,NaN,0.000527,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.000694,NaN,NaN,0.000712,NaN,NaN,NaN,0.000439
2024-08-31,NaN,NaN,0.000379,NaN,0.000398,NaN,0.000381,NaN,NaN,0.000342,...,NaN,0.000409,NaN,NaN,NaN,NaN,0.000401,0.000320,NaN,NaN
2024-09-30,0.000332,NaN,NaN,NaN,0.000439,0.000392,NaN,NaN,NaN,NaN,...,0.000332,NaN,NaN,NaN,0.000373,NaN,0.000281,0.000439,NaN,NaN
2024-10-31,0.000386,0.000316,NaN,0.000402,NaN,NaN,NaN,0.000328,0.000294,NaN,...,0.000459,NaN,NaN,0.000335,NaN,NaN,0.000294,NaN,NaN,NaN